@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Increase or decrease the number 
    to change the vertical spacing globally*/
  /* Base Vertical Spacing */
  --space: 1.62;
  /* Vertical Spacing - multiplier */
  --vspace: calc(var(--space) * 1rem);
  --vspace-0: calc(3 * var(--space) * 1rem);
  --vspace-1: calc(2 * var(--space) * 1rem);
  --vspace-2: calc(1.5 * var(--space) * 1rem);
  --vspace-3: calc(0.5 * var(--space) * 1rem);
  /* Font Families */
  --Raleway: "Raleway";
  --Oswald: "Oswald";
  --Libre-Baskerville: "Libre Baskerville";
  /* Colours */
  --Colour-bg-main: #14171b;
  --Colour-font-main: #e3e7dd;
  --Colour-font-deemphasized: #e3e7dd94;
  --Colour-font-accent: #9267be;
  /* Transitions */
  --transition-250ms: all 250ms ease-in;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  font-size: 1em;
}
body.sidebarActive aside.sidebar .control-group {
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 100;
}
ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

button {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  margin: var(--vspace) 0;
  line-height: var(--vspace);
}

h1 {
  margin: var(--vspace-1) 0 var(--vspace-1) 0;
  line-height: calc(3.2917 / var(--space) * var(--vspace));
}

h2 {
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
  line-height: 1em;
}

h3 {
  margin: var(--vspace-1) 0 var(--vspace-3) 0;
  line-height: 1em;
}

h4,
h5,
h6 {
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
  line-height: var(--vspace);
}

.bigtitle,
h1 {
  font-size: 3.2917em;
  word-break: break-word;
}

.title,
h2 {
  font-size: 2em;
  font-weight: lighter;
  word-break: break-word;
}

.subheading1,
h3 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

blockquote {
  font-size: 1em;
  font-style: italic;
  line-height: calc(1 * var(--vspace));
  margin: var(--vspace-2) var(--vspace-2);
}

.subheading2,
h4 {
  font-size: 1.2292em;
  text-transform: capitalize;
}

.subheading3,
h5 {
  font-size: 1.1042em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.subheading4,
h6 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  font-family: "le-monde-livre-classic-byol", serif !important;
  letter-spacing: 0px !important;
}

.caption_ts {
  font-size: 0.8333em;
  font-weight: normal;
  font-style: italic;
}

.endnote_ts {
  font-size: 0.8333em;
}

.footnote_ts {
  margin: var(--vspace-0) 0 var(--vspace-2) 0;
  font-size: 0.75em;
  border-top: 1px solid #ccc;
  line-height: 2em;
}

sup {
  font-size: 0.75rem;
  margin: 0.5em;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.icon {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.control-group {
  padding: var(--vspace-0);
}

.center {
  display: grid;
  place-content: center;
}

.button {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.list-dropdown {
  display: flex;
  flex-direction: column;
}

.link {
  font-weight: 300;
  text-transform: capitalize;
}

.logo {
  margin: 0;
  text-transform: uppercase;
  color: var(--Colour-font-main);
}

main {
  position: relative;
  transition: var(--transition-250ms);
}
main header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: black;
  padding: 0 var(--vspace-2);
  font-family: var(--Raleway);
}
@media (min-width: 700px) {
  main header {
    color: var(--Colour-bg-main);
    background-color: transparent;
    position: absolute;
  }
}
main header.dropdownActive ul.list-dropdown {
  height: auto;
}
main header nav.navigation {
  margin: 0 auto;
  color: var(--Colour-font-main);
  padding: var(--vspace-2) 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "a b" "c c";
}
@media (min-width: 700px) {
  main header nav.navigation {
    align-items: center;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "b c a";
    color: black;
  }
}
main header nav.navigation button.button-toggle {
  justify-self: end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  grid-area: a;
}
main header nav.navigation button.button-toggle__sidebar {
  display: none;
}
@media (min-width: 700px) {
  main header nav.navigation button.button-toggle__sidebar {
    display: grid;
  }
}
main header nav.navigation button.button-toggle__navigation {
  display: grid;
}
@media (min-width: 700px) {
  main header nav.navigation button.button-toggle__navigation {
    display: none;
  }
}
main header nav.navigation a.link-logo {
  grid-area: b;
  justify-self: center;
}
main header nav.navigation a.link-logo h4.logo {
  color: inherit;
  margin: 0;
  text-transform: uppercase;
}
main header ul.list-dropdown {
  grid-area: c;
  height: 0;
  overflow: hidden;
  color: var(--Colour-font-main);
  font-family: inherit;
}
@media (min-width: 700px) {
  main header ul.list-dropdown {
    height: auto;
    flex-direction: row;
    justify-self: center;
    color: black;
  }
}
main header ul.list-dropdown li.list-item-navigation {
  padding: var(--vspace-3);
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Colour-font-deemphasized);
}
@media (min-width: 700px) {
  main header ul.list-dropdown li.list-item-navigation {
    border: none;
  }
  main header ul.list-dropdown li.list-item-navigation a.link {
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
  }
  main header ul.list-dropdown li.list-item-navigation span.icon {
    display: none;
  }
}
main header ul.list-dropdown li.list-item-active {
  position: relative;
}
main header ul.list-dropdown li.list-item-active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #9267be;
  z-index: 0;
}
main section.section-hero {
  height: 100vh;
  width: 100%;
}
main section.section-hero .control-group-slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main section.section-hero .control-group-slider img {
  position: absolute;
  filter: grayscale(100%);
  transition: var(--transition-250ms);
}
main section.section-hero .control-group-slider button.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}
main section.section-hero .control-group-slider button.button__previous {
  left: 0;
  transform: translateY(-50%);
}
main section.section-hero .control-group-slider button.button__next {
  right: 0;
}
main section.section-story div.control-group {
  padding: 0 var(--vspace-1);
  display: flex;
  flex-direction: column;
  -moz-column-gap: var(--vspace-3);
       column-gap: var(--vspace-3);
}
main section.section-story div.control-group h2 {
  font-weight: 400;
  font-family: var(--Oswald);
  text-transform: uppercase;
  text-align: center;
}
main section.section-story div.control-group blockquote {
  align-self: center;
  text-align: center;
  font-family: var(--Libre-Baskerville);
  max-width: 50ch;
}
main section.section-story div.control-group div.cards-group {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: var(--vspace-3);
}
main section.section-story div.control-group div.cards-group article.card {
  min-width: 240px;
  aspect-ratio: 3/2;
  flex: 1;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--Raleway);
}
main section.section-story div.control-group div.cards-group article.card div.control-group {
  opacity: 0;
  padding: var(--vspace-2);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  z-index: 1;
  transition: var(--transition-250ms);
}
main section.section-story div.control-group div.cards-group article.card div.control-group h5 {
  font-style: italic;
  margin: 0;
}
main section.section-story div.control-group div.cards-group article.card div.control-group button.button {
  font-size: 1.5rem;
}
main section.section-story div.control-group div.cards-group article.card div.control-group h4 {
  text-transform: uppercase;
  margin: 0;
}
main section.section-story div.control-group div.cards-group article.card img {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  filter: grayscale(100%);
}
main section.section-story div.control-group div.cards-group article.card:hover div.control-group {
  opacity: 1;
}
main section.section-story div.control-group div.cards-group article.card:hover img {
  opacity: 0.3;
}
main section.section-about div.control-group {
  display: grid;
  grid-template-areas: "a a a" "b b b" "c c c" "d d d";
  -moz-column-gap: var(--vspace-3);
       column-gap: var(--vspace-3);
}
@media (min-width: 700px) {
  main section.section-about div.control-group {
    grid-template-areas: "a a a" "b c d";
  }
}
main section.section-about div.control-group h1 {
  grid-area: a;
  text-transform: uppercase;
  font-family: var(--Oswald);
  font-weight: 400;
  display: flex;
  gap: var(--vspace-3);
}
main section.section-about div.control-group h1 span.underline {
  flex: 1;
  position: relative;
  -webkit-text-decoration: underline 1px solid orange;
          text-decoration: underline 1px solid orange;
}
main section.section-about div.control-group h1 span.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: orange;
}
main section.section-about div.control-group h3 {
  grid-area: b;
  text-transform: uppercase;
  font-family: var(--Oswald);
  font-weight: 700;
}
main section.section-about div.control-group p {
  font-family: var(--Raleway);
}
main section.section-about div.control-group p:nth-of-type(1) {
  grid-area: c;
}
main section.section-about div.control-group p:nth-of-type(2) {
  grid-area: d;
}
main section.section-services {
  background-color: black;
  position: relative;
}
main section.section-services div.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 100;
  position: relative;
}
main section.section-services div.control-group h1.section-title {
  text-transform: uppercase;
  font-family: var(--Oswald);
  font-weight: 400;
  text-align: center;
}
main section.section-services div.control-group blockquote.section-quote {
  font-family: var(--Libre-Baskerville);
  max-width: 50ch;
  text-align: center;
}
main section.section-services div.control-group ul.list {
  align-self: stretch;
  display: grid;
  -moz-column-gap: var(--vspace-2);
       column-gap: var(--vspace-2);
  grid-template-columns: 1fr;
}
@media (min-width: 700px) {
  main section.section-services div.control-group ul.list {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
main section.section-services div.control-group ul.list li.service h4 {
  display: flex;
  align-items: flex-end;
  font-family: var(--Oswald);
}
main section.section-services div.control-group ul.list li.service h4 span.service-name {
  flex: 1;
  border-bottom: 1px solid var(--Colour-font-main);
}
main section.section-services div.control-group ul.list li.service h6.service-details {
  font-family: var(--Raleway);
  margin: 0;
}
main section.section-services img.heroimage {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  opacity: 0.3;
}
main section.section-testimonials {
  height: 40vh;
  width: 100%;
}
main section.section-testimonials .control-group-slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main section.section-testimonials .control-group-slider div.testimonial {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: var(--transition-250ms);
}
main section.section-testimonials .control-group-slider div.testimonial q.bigtitle {
  text-transform: uppercase;
}
main section.section-testimonials .control-group-slider button.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}
main section.section-testimonials .control-group-slider button.button__previous {
  left: 0;
  transform: translateY(-50%);
}
main section.section-testimonials .control-group-slider button.button__next {
  right: 0;
}
main section.section-gallery div.control-group {
  padding: 0 var(--vspace-0);
}
main section.section-gallery div.control-group div.cards-group {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--vspace-3);
}
@media (max-width: 600px) {
  main section.section-gallery div.control-group div.cards-group {
    grid-template-columns: 1fr;
  }
}
main section.section-gallery div.control-group div.cards-group article.card {
  aspect-ratio: 3/2;
  flex: 1;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--Raleway);
  overflow: hidden;
}
main section.section-gallery div.control-group div.cards-group article.card div.control-group {
  opacity: 0;
  padding: var(--vspace-2);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  z-index: 1;
  transition: var(--transition-250ms);
}
main section.section-gallery div.control-group div.cards-group article.card div.control-group h5 {
  font-style: italic;
  margin: 0;
}
main section.section-gallery div.control-group div.cards-group article.card div.control-group button.button {
  font-size: 1.5rem;
}
main section.section-gallery div.control-group div.cards-group article.card div.control-group h4 {
  text-transform: uppercase;
  margin: 0;
}
main section.section-gallery div.control-group div.cards-group article.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 0;
  display: block;
  opacity: 0.9;
  transition: var(--transition-250ms);
}
main section.section-gallery div.control-group div.cards-group article.card:hover div.control-group {
  opacity: 1;
}
main section.section-gallery div.control-group div.cards-group article.card:hover img {
  opacity: 0.3;
  transform: scale(1.1);
}
main section.section-team div.control-group {
  -moz-column-gap: var(--vspace-3);
       column-gap: var(--vspace-3);
}
main section.section-team div.control-group h1 {
  grid-area: a;
  text-transform: uppercase;
  font-family: var(--Oswald);
  font-weight: 400;
  display: flex;
  gap: var(--vspace-3);
}
main section.section-team div.control-group h1 span.underline {
  flex: 1;
  position: relative;
  -webkit-text-decoration: underline 1px solid orange;
          text-decoration: underline 1px solid orange;
}
main section.section-team div.control-group h1 span.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: orange;
}
main section.section-team div.control-group div.group-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--vspace-0);
}
main section.section-team div.control-group div.group-cards article.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section.section-team div.control-group div.group-cards article.card img.card__image {
  width: 100%;
  height: 100%;
  filter: grayscale(40%);
  position: relative;
}
main section.section-team div.control-group div.group-cards article.card div.card__header {
  margin-top: var(--vspace-3);
  margin-bottom: var(--vspace-3);
}
main section.section-team div.control-group div.group-cards article.card div.card__header h2 {
  font-family: var(--Oswald);
  font-weight: 400;
  text-transform: uppercase;
}
main section.section-team div.control-group div.group-cards article.card div.card__header span {
  font-family: var(--Libre-Baskerville);
  font-style: italic;
  text-transform: capitalize;
  color: var(--Colour-font-accent);
}
main section.section-team div.control-group div.group-cards article.card div.card__body {
  margin-top: var(--vspace-3);
  margin-bottom: var(--vspace-3);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: var(--Raleway);
}
main section.section-team div.control-group div.group-cards article.card div.card__footer div.socials {
  margin-top: var(--vspace-3);
  margin-bottom: var(--vspace-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--vspace-2);
}
main section.section-team div.control-group div.group-cards article.card div.card__footer div.socials svg {
  width: 14px;
  aspect-ratio: 1;
}
main section.section-team div.control-group div.group-cards article.card div.card__footer div.socials svg path {
  fill: var(--Colour-font-accent);
}
main section.section-book-online {
  min-height: 50vh;
  background-color: black;
  position: relative;
  display: grid;
  place-content: center;
}
main section.section-book-online div.control-group {
  display: grid;
  z-index: 1;
  color: var(--Colour-font-main);
  place-content: center;
}
main section.section-book-online div.control-group div.image-container {
  margin: 0 auto;
  width: 240px;
  aspect-ratio: 1;
}
main section.section-book-online div.control-group div.image-container img.image--product {
  -o-object-fit: contain;
     object-fit: contain;
}
main section.section-book-online div.control-group h1.bigtitle {
  text-transform: uppercase;
  font-family: var(--Oswald);
}
main section.section-book-online div.control-group button.button--action {
  display: inline-block;
  justify-self: center;
  font-family: var(--Oswald);
  text-transform: uppercase;
  background-color: var(--Colour-font-accent);
  align-self: center;
  padding: var(--vspace-3) var(--vspace-2);
}
main section.section-book-online img.image--background {
  position: absolute;
  opacity: 0.6;
  inset: 0;
  filter: grayscale(100%);
}

aside.sidebar .control-group {
  position: absolute;
  width: 300px;
  height: 100vh;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  top: 0;
  right: 0;
  z-index: 0;
  padding: var(--vspace-2);
  background-color: #14171b;
  font-family: var(--Raleway);
  transition: var(--transition-250ms);
  color: var(--Colour-font-main);
}
aside.sidebar .control-group h1,
aside.sidebar .control-group h2,
aside.sidebar .control-group h3,
aside.sidebar .control-group h4,
aside.sidebar .control-group h5,
aside.sidebar .control-group h6 {
  color: var(--Colour-font-main);
  font-family: var(--Oswald);
  font-weight: 300;
}
aside.sidebar .control-group p.about {
  width: 30ch;
}
aside.sidebar .control-group article.group ul {
  display: flex;
  gap: var(--vspace-3);
  flex-direction: column;
  list-style: circle;
  list-style-position: inside;
}
aside.sidebar .control-group button.button-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
}
aside.sidebar .control-group span.social {
  display: flex;
  align-items: baseline;
  gap: var(--vspace-3);
}
aside.sidebar .control-group span.social h3 {
  display: flex;
  align-items: flex-end;
}
aside.sidebar .control-group span.social span {
  height: 1.25rem;
  width: 1.25rem;
}
aside.sidebar .control-group span.social span svg {
  height: 100%;
  width: 100%;
}
aside.sidebar .control-group span.social span svg path {
  fill: var(--Colour-font-main);
}

footer {
  background-color: var(--Colour-bg-main);
  color: var(--Colour-font-main);
}
footer div.control-group {
  font-family: var(--Raleway);
  display: grid;
  gap: var(--vspace-2);
}
@media (min-width: 700px) {
  footer div.control-group {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
footer div.control-group article.column ul {
  display: flex;
  flex-direction: column;
  gap: var(--vspace-3);
  margin: var(--vspace) 0;
}
footer div.control-group article.column ul li {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: var(--vspace-3);
}
footer div.control-group article.column ul li span {
  text-transform: capitalize;
}
footer div.control-group article.column ul li span.icon {
  color: var(--Colour-font-accent);
  width: 1em;
  height: 1em;
}
footer div.control-group article.column ul li span.icon svg {
  width: 100%;
  height: 100%;
}
footer div.control-group article.column ul li span.icon svg path {
  fill: var(--Colour-font-main);
}
footer div.control-group article.column ul li span.hours,
footer div.control-group article.column ul li sup.hours {
  width: 20ch;
  margin: 0;
}
footer div.control-group article.column h2 {
  margin: 0;
  font-family: var(--Oswald);
  font-weight: 400;
  text-transform: uppercase;
}
footer div.control-group article.column--gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}/*# sourceMappingURL=index.css.map */